
<ion-view view-title="{{destination.name}}">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon" ng-class="view == 'Grid' ? 'ion-ios-list-outline' : 'ion-grid'" ng-click="switchView()"></button>
  </ion-nav-buttons>

  <ion-content class="waxu-scroll-content">
    <div ng-show="view == 'List'">
      <div class="waxu-filter-group">
        <div class="title">Budget</div>
        <div class="card waxu-filter">
          <div class="row">
            <label class="item item-radio col" ng-repeat="item in budgetList">
              <input type="radio" name="budget" value="{{item[1]}}" ng-model="filterData.budget">
              <div class="item-content">
                {{item[0]}}
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="waxu-filter-group">
        <div class="title">Pace</div>
        <div class="card waxu-filter">
          <div class="row">
            <label class="item item-radio col" ng-repeat="item in paceList">
              <input type="radio" name="pace" value="{{item[1]}}" ng-model="filterData.pace">
              <div class="item-content">
                {{item[0]}}
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="waxu-filter-group">
        <div class="title">Date</div>
        <div class="waxu-filter-date"></div>
      </div>
    </div>
    <div ng-show="view == 'Grid'" class="waxu-filter-grid">
      <h3 class="title">Define Your Next Adventure</h3>
      <div class="row" style="flex-wrap: wrap;">
        <div class="col-33" ng-repeat="item in allTags">
          <label class="item item-radio">
            <input type="checkbox" value="{{item[1]}}" ng-model="filterData.allTags[item[1]]">
            <div class="item-content">
              <div class="">{{item[0]}}</div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-80 col-offset-10">
        <button class="button button-block button-balanced" ui-sref="explore.itinerary">
          Show Itinerary
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
