
<ion-view view-title="{{destination.name}}">
  <ion-content class="waxu-scroll-content">
    <div class="waxu-filter-group">
      <div class="title">Budget</div>
      <div class="card waxu-filter">
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in budgetList">
            <input type="radio" name="budget" value="{{item[1]}}" ng-model="filterData.budget">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="waxu-filter-group">
      <div class="title">Pace</div>
      <div class="card waxu-filter">
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in paceList">
            <input type="radio" name="pace" value="{{item[1]}}" ng-model="filterData.pace">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="waxu-filter-group">
      <div class="title">Type of Travel</div>
      <div class="card waxu-filter waxu-filter-type">
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in typeList1">
            <input type="checkbox"  value="{{item[1]}}" ng-model="filterData.type[item[1]]">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in typeList2">
            <input type="checkbox" value="{{item[1]}}" ng-model="filterData.type[item[1]]">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="waxu-filter-group">
      <div class="title">Type of POI</div>
      <div class="card waxu-filter waxu-filter-type">
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in poiList1">
            <input type="checkbox" value="{{item[1]}}" ng-model="filterData.poi[item[1]]">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in poiList2">
            <input type="checkbox" value="{{item[1]}}" ng-model="filterData.poi[item[1]]">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in poiList3">
            <input type="checkbox" value="{{item[1]}}" ng-model="filterData.poi[item[1]]">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
        <div class="row">
          <label class="item item-radio col" ng-repeat="item in poiList4">
            <input type="checkbox" value="{{item[1]}}" ng-model="filterData.poi[item[1]]">
            <div class="item-content">
              {{item[0]}}
            </div>
          </label>
        </div>
      </div>
    </div>

    <button class="button button-block button-balanced" ui-sref="explore.itinerary">
      Show Itinerary
    </button>
  </ion-content>
</ion-view>
